@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;             /* 白 */
    --foreground: 240 10% 3.9%;          /* 濃いグレー */

    --card: 0 0% 100%;                   /* カード背景・白 */
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;             /* 濃いネイビー系 */
    --primary-foreground: 0 0% 98%;      /* ほぼ白 */

    --secondary: 240 4.8% 95.9%;         /* 淡いグレー */
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;        /* 赤系（警告） */
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;              /* 薄めグレー境界線 */
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;                /* フォーカスリング */

    --radius: 0.5rem;                    /* ボーダー半径（共通） */
  }
}

@layer base {
  * {
    @apply border-border;       /* すべてのボーダーにテーマカラーを適用 */
    box-sizing: border-box;     /* padding, border込みで幅高さを計算 */
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge 用 */
  scrollbar-width: none;     /* Firefox 用 */
}